/* Globális stílusok */
body {
    @apply antialiased;
}

aside {
    align-self: start;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-500;
}